@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* CSS Variables */
:root {
    --primary-color: #A39594;
    --secondary-color: #6E675F;
    --accent1-color: #E3B23C;
    --accent2-color: #EDEBD7;

    --heading-font: 'Lato', 'Roboto', 'Nunito Sans', sans-serif;
    --paragraph-font: 'Open Sans', 'Arial', sans-serif;

    --nav-background-color: #C6C7C4;
    --nav-link-color: #000000;
    --nav-hover-link-color: #EDEBD7;
    --nav-hover-background-color: #E3B23C;
}

/* Header Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1, h2 {
    text-align: center;
}

header {
	margin: 1rem auto;
	display: flex;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    justify-content: space-between;
    padding: 0 20px;
}

nav {
	text-align: right;
}

nav.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 110px;
    height: auto;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: #E3B23C;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: #CC5500;
	font-weight: 700;
	text-decoration: underline;
}

.history {
    margin-top: 2px;
}

/* Body Styles */
body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
}

article img {
    float: right;
    padding-top: 30px;
}

/* Paragraph Styles */
p {
    padding: 25px;
    color: var(--secondary-color);
}

.adventures {
    display: flex;
	list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.adventures figure {
    flex: 1 1 100px; 
    margin: 10px;
    max-width: 30%; 
}

.adventures img {
    width: 100%;
    height: auto;
    display: block;
}

/* Class Selectors */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/rafting.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero article {
    position: absolute;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: to make text more readable */
    padding: 5px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
}

.hero h1 {
    top: 39%;
    margin-bottom: 2px;
    width: 100%;
}

.hero article {
    top: 50%;
    color: white;
    width: 80%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    float: right;
    padding: 10px;
}

.hero p {
    margin: 0;
    color: white;
}

article img {
    width: auto;
    max-width: 150px; 
    height: auto;
    display: block;
    float: right;
    padding-top: 30px;
    margin-left: 20px; 
}

footer {
    display: flex;
    padding-top: 25px;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}

.sociallinks {
    padding-left: 20px;
    display: flex;
    justify-content: flex-end;
    
}

.sociallinks a {
    margin-left: 10px; 
    text-decoration: none;
}

.copyright {
    margin: 0 auto;
    display: flex;
    align-items: center;
}